### output files ###
model/*
output/ft/*
output/rl/*
output/test/*
output/train/*
logs/*

### train tmp files ###
data/envs/salt/data/*

### large files ###
data/envs/salt/doan/dj_doan_mon_20210709_12th.rou.xml
data/envs/salt/dj_all/*


### pycache ###
__pycache__/*
policy/__pycache__/*
env/__pycache__/*


### dockerize
dockerize/to_install_uniq/optimizer/*
dockerize/to_install_uniq/slat/*